In [5]:
pip install haversine

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: haversine in c:\users\mkaya\appdata\roaming\python\python39\site-packages (2.8.0)
Note: you may need to restart the kernel to use updated packages.

In [95]:
import pandas as pd
from haversine import haversine, Unit

from datetime import datetime, timedelta
import time
from operator import mul
from time import strftime
from time import gmtime

In [9]:
df = pd.read_csv('C:/Users/mkaya/Downloads/2017-fordgobike-tripdata.csv')

In [10]:
df.shape

(519700, 15)

In [11]:
df.columns

Index(['start_time', 'end_time', 'start_station_id', 'start_station_name',
       'start_station_latitude', 'start_station_longitude', 'end_station_id',
       'end_station_name', 'end_station_latitude', 'end_station_longitude',
       'bike_id', 'user_type', 'member_birth_year', 'member_gender', 'pyment'],
      dtype='object')

In [12]:
df.head()

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment
0,57:39.7,12:50.2,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card
1,56:34.8,49:55.6,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card
2,45:48.4,28:36.9,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card
3,31:10.6,47:23.5,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card
4,23:14.0,29:57.6,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   start_time               519700 non-null  object
 1   end_time                 519700 non-null  object
 2   start_station_id         519700 non-null  int64
 3   start_station_name       519700 non-null  object
 4   start_station_latitude   519700 non-null  float64
 5   start_station_longitude  519700 non-null  float64
 6   end_station_id           519700 non-null  int64
 7   end_station_name         519700 non-null  object
 8   end_station_latitude     519700 non-null  float64
 9   end_station_longitude    519700 non-null  float64
 10  bike_id                  519700 non-null  int64
 11  user_type                519700 non-null  object
 12  member_birth_year        453159 non-null  float64
 13  member_gender            453238 non-null  object
 14  pyment                   519700 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 59.5+ MB

In [14]:
df['distance'] = 0

In [15]:
df['distance']

0         0
1         0
2         0
3         0
4         0
         ..
519695    0
519696    0
519697    0
519698    0
519699    0
Name: distance, Length: 519700, dtype: int64

In [16]:
head_df = df.head().copy()

In [17]:
head_df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance
0,57:39.7,12:50.2,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0
1,56:34.8,49:55.6,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,0
2,45:48.4,28:36.9,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0
3,31:10.6,47:23.5,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,0
4,23:14.0,29:57.6,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0

In [133]:
head_df['distance'] = head_df.apply(lambda x:haversine(
        (x['start_station_latitude'],x['start_station_longitude']),
        (x['end_station_latitude'], x['end_station_longitude'])
    ), axis=1)

In [134]:
head_df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance
0,57:39.7,12:50.2,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931
1,56:34.8,49:55.6,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730
2,45:48.4,28:36.9,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000
3,31:10.6,47:23.5,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624
4,23:14.0,29:57.6,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340

In [19]:
def set_distance(head_df):
    for i in range(len(head_df)):
        start = head_df.iloc[i]['start_station_latitude'], head_df.iloc[i]['start_station_longitude']
        end = head_df.iloc[i]['end_station_latitude'], head_df.iloc[i]['end_station_longitude']
        head_df['distance'].iloc[i] = haversine(start, end)

In [20]:
set_distance(df)

C:\Users\mkaya\AppData\Local\Temp\ipykernel_19156\2992992005.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  head_df['distance'].iloc[i] = haversine(start, end)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   start_time               519700 non-null  object
 1   end_time                 519700 non-null  object
 2   start_station_id         519700 non-null  int64
 3   start_station_name       519700 non-null  object
 4   start_station_latitude   519700 non-null  float64
 5   start_station_longitude  519700 non-null  float64
 6   end_station_id           519700 non-null  int64
 7   end_station_name         519700 non-null  object
 8   end_station_latitude     519700 non-null  float64
 9   end_station_longitude    519700 non-null  float64
 10  bike_id                  519700 non-null  int64
 11  user_type                519700 non-null  object
 12  member_birth_year        453159 non-null  float64
 13  member_gender            453238 non-null  object
 14  pyment                   519700 non-null  object
 15  distance                 519700 non-null  float64
 16  start                    519700 non-null  object
dtypes: float64(6), int64(3), object(8)
memory usage: 67.4+ MB

In [49]:
df['start'] = str(df['start_station_latitude'])+str(df['start_station_longitude'])

In [54]:
df.drop(columns='start', inplace=True)

In [30]:
df['distance'] = haversine((df['start_station_latitude'], df['start_station_longitude']), (df['end_station_latitude'], df['end_station_longitude']))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [46]:
df['distance'] = haversine((df['start_station_latitude'], df['start_station_longitude']), (df['end_station_latitude'], df['end_station_longitude']))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [38]:
df['start_point'] = df['start_station_latitude'], df['start_station_longitude']

ValueError: Length of values (2) does not match length of index (519700)

In [55]:
df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance
0,57:39.7,12:50.2,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931
1,56:34.8,49:55.6,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730
2,45:48.4,28:36.9,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000
3,31:10.6,47:23.5,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624
4,23:14.0,29:57.6,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519695,00:54.5,08:10.4,81,Berry St at 4th St,37.775880,-122.393170,45,5th St at Howard St,37.781752,-122.405127,400,Subscriber,1991.0,Male,credit card,1.237187
519696,56:39.6,03:51.1,66,3rd St at Townsend St,37.778742,-122.392741,321,5th at Folsom,37.780146,-122.403071,316,Subscriber,1973.0,Male,credit card,0.921196
519697,47:36.3,54:41.2,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,48,2nd St at S Park St,37.782411,-122.392706,240,Subscriber,1985.0,Female,app wallet,1.072754
519698,47:41.7,53:47.7,58,Market St at 10th St,37.776619,-122.417385,59,S Van Ness Ave at Market St,37.774814,-122.418954,669,Subscriber,1981.0,Male,app wallet,0.243515
519699,49:46.4,52:55.3,25,Howard St at 2nd St,37.787522,-122.397405,48,2nd St at S Park St,37.782411,-122.392706,117,Subscriber,1984.0,Male,app wallet,0.702460

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   start_time               519700 non-null  object
 1   end_time                 519700 non-null  object
 2   start_station_id         519700 non-null  int64
 3   start_station_name       519700 non-null  object
 4   start_station_latitude   519700 non-null  float64
 5   start_station_longitude  519700 non-null  float64
 6   end_station_id           519700 non-null  int64
 7   end_station_name         519700 non-null  object
 8   end_station_latitude     519700 non-null  float64
 9   end_station_longitude    519700 non-null  float64
 10  bike_id                  519700 non-null  int64
 11  user_type                519700 non-null  object
 12  member_birth_year        453159 non-null  float64
 13  member_gender            453238 non-null  object
 14  pyment                   519700 non-null  object
 15  distance                 519700 non-null  float64
dtypes: float64(6), int64(3), object(7)
memory usage: 63.4+ MB

In [56]:
df['start_time'] = pd.to_datetime(df['start_time'], format = '%M:%S.%f')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   start_time               519700 non-null  datetime64[ns]
 1   end_time                 519700 non-null  object
 2   start_station_id         519700 non-null  int64
 3   start_station_name       519700 non-null  object
 4   start_station_latitude   519700 non-null  float64
 5   start_station_longitude  519700 non-null  float64
 6   end_station_id           519700 non-null  int64
 7   end_station_name         519700 non-null  object
 8   end_station_latitude     519700 non-null  float64
 9   end_station_longitude    519700 non-null  float64
 10  bike_id                  519700 non-null  int64
 11  user_type                519700 non-null  object
 12  member_birth_year        453159 non-null  float64
 13  member_gender            453238 non-null  object
 14  pyment                   519700 non-null  object
 15  distance                 519700 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(3), object(6)
memory usage: 63.4+ MB

In [58]:
df['end_time'] = pd.to_datetime(df['end_time'], format = '%M:%S.%f')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519700 entries, 0 to 519699
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   start_time               519700 non-null  datetime64[ns]
 1   end_time                 519700 non-null  datetime64[ns]
 2   start_station_id         519700 non-null  int64
 3   start_station_name       519700 non-null  object
 4   start_station_latitude   519700 non-null  float64
 5   start_station_longitude  519700 non-null  float64
 6   end_station_id           519700 non-null  int64
 7   end_station_name         519700 non-null  object
 8   end_station_latitude     519700 non-null  float64
 9   end_station_longitude    519700 non-null  float64
 10  bike_id                  519700 non-null  int64
 11  user_type                519700 non-null  object
 12  member_birth_year        453159 non-null  float64
 13  member_gender            453238 non-null  object
 14  pyment                   519700 non-null  object
 15  distance                 519700 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(3), object(5)
memory usage: 63.4+ MB

In [93]:
df['duration'] = abs(df['start_time'] - df['end_time'])

In [94]:
df.head()

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance,duration,time_in_minutes
0,1900-01-01 00:57:39.700,1900-01-01 00:12:50.200,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931,0 days 00:44:49.500000,0
1,1900-01-01 00:56:34.800,1900-01-01 00:49:55.600,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730,0 days 00:06:39.200000,0
2,1900-01-01 00:45:48.400,1900-01-01 00:28:36.900,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000,0 days 00:17:11.500000,0
3,1900-01-01 00:31:10.600,1900-01-01 00:47:23.500,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624,0 days 00:16:12.900000,0
4,1900-01-01 00:23:14.000,1900-01-01 00:29:57.600,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340,0 days 00:06:43.600000,0

In [61]:
df['cost'] = df['duration'] * 3

In [64]:
df.drop(columns= 'cost', inplace=True)

In [65]:
df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance,duration
0,1900-01-01 00:57:39.700,1900-01-01 00:12:50.200,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931,0 days 00:44:49.500000
1,1900-01-01 00:56:34.800,1900-01-01 00:49:55.600,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730,0 days 00:06:39.200000
2,1900-01-01 00:45:48.400,1900-01-01 00:28:36.900,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000,0 days 00:17:11.500000
3,1900-01-01 00:31:10.600,1900-01-01 00:47:23.500,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624,0 days 00:16:12.900000
4,1900-01-01 00:23:14.000,1900-01-01 00:29:57.600,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340,0 days 00:06:43.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519695,1900-01-01 00:00:54.500,1900-01-01 00:08:10.400,81,Berry St at 4th St,37.775880,-122.393170,45,5th St at Howard St,37.781752,-122.405127,400,Subscriber,1991.0,Male,credit card,1.237187,0 days 00:07:15.900000
519696,1900-01-01 00:56:39.600,1900-01-01 00:03:51.100,66,3rd St at Townsend St,37.778742,-122.392741,321,5th at Folsom,37.780146,-122.403071,316,Subscriber,1973.0,Male,credit card,0.921196,0 days 00:52:48.500000
519697,1900-01-01 00:47:36.300,1900-01-01 00:54:41.200,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,48,2nd St at S Park St,37.782411,-122.392706,240,Subscriber,1985.0,Female,app wallet,1.072754,0 days 00:07:04.900000
519698,1900-01-01 00:47:41.700,1900-01-01 00:53:47.700,58,Market St at 10th St,37.776619,-122.417385,59,S Van Ness Ave at Market St,37.774814,-122.418954,669,Subscriber,1981.0,Male,app wallet,0.243515,0 days 00:06:06
519699,1900-01-01 00:49:46.400,1900-01-01 00:52:55.300,25,Howard St at 2nd St,37.787522,-122.397405,48,2nd St at S Park St,37.782411,-122.392706,117,Subscriber,1984.0,Male,app wallet,0.702460,0 days 00:03:08.900000

In [63]:
time.gmtime(0)

time.struct_time(tm_year=1970, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=1, tm_isdst=0)

In [67]:
my_time = df['duration']
factors = (60, 1, 1/60)

t1 = sum(i*j for i, j in zip(map(int, my_time.split(':')), factors))
t2 = sum(map(mul, map(int, my_time.split(':')), factors))

print(t1) 

assert t1 == t2

AttributeError: 'Series' object has no attribute 'split'

In [75]:
df['minutes'] = timedelta(minutes = df.iloc[0]['duration'])

TypeError: unsupported type for timedelta minutes component: Timedelta

In [89]:
def get_seconds():
    count=0
    for i in df.iloc[count]['duration']:
        # split in hh, mm, ss
        hh, mm, ss = i.split(':')
        df.iloc[count]['time_in_minutes'] = mm + ss/60
        count += 1

In [90]:
get_seconds()

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [97]:
strftime('%M:%S.%f', gmtime(df.iloc[0]['duration']))

TypeError: an integer is required (got type Timedelta)

In [103]:
"{:0>8}".format(str(timedelta(minutes=df['duration'])))
# Result: '00:01:06'

TypeError: unsupported type for timedelta minutes component: Series

In [120]:
df['minutes'] = df['duration'].dt.total_seconds().div(60).astype('float64')

In [121]:
df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance,duration,minutes,cost_by_eur
0,1900-01-01 00:57:39.700,1900-01-01 00:12:50.200,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931,0 days 00:44:49.500000,44.825000,1.32
1,1900-01-01 00:56:34.800,1900-01-01 00:49:55.600,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730,0 days 00:06:39.200000,6.653333,0.18
2,1900-01-01 00:45:48.400,1900-01-01 00:28:36.900,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000,0 days 00:17:11.500000,17.191667,0.51
3,1900-01-01 00:31:10.600,1900-01-01 00:47:23.500,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624,0 days 00:16:12.900000,16.215000,0.48
4,1900-01-01 00:23:14.000,1900-01-01 00:29:57.600,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340,0 days 00:06:43.600000,6.726667,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519695,1900-01-01 00:00:54.500,1900-01-01 00:08:10.400,81,Berry St at 4th St,37.775880,-122.393170,45,5th St at Howard St,37.781752,-122.405127,400,Subscriber,1991.0,Male,credit card,1.237187,0 days 00:07:15.900000,7.265000,0.21
519696,1900-01-01 00:56:39.600,1900-01-01 00:03:51.100,66,3rd St at Townsend St,37.778742,-122.392741,321,5th at Folsom,37.780146,-122.403071,316,Subscriber,1973.0,Male,credit card,0.921196,0 days 00:52:48.500000,52.808333,1.56
519697,1900-01-01 00:47:36.300,1900-01-01 00:54:41.200,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,48,2nd St at S Park St,37.782411,-122.392706,240,Subscriber,1985.0,Female,app wallet,1.072754,0 days 00:07:04.900000,7.081667,0.21
519698,1900-01-01 00:47:41.700,1900-01-01 00:53:47.700,58,Market St at 10th St,37.776619,-122.417385,59,S Van Ness Ave at Market St,37.774814,-122.418954,669,Subscriber,1981.0,Male,app wallet,0.243515,0 days 00:06:06,6.100000,0.18
519699,1900-01-01 00:49:46.400,1900-01-01 00:52:55.300,25,Howard St at 2nd St,37.787522,-122.397405,48,2nd St at S Park St,37.782411,-122.392706,117,Subscriber,1984.0,Male,app wallet,0.702460,0 days 00:03:08.900000,3.148333,0.09

In [135]:
#Adding costs
df['cost_by_cents'] = df['minutes'] * 3
df['cost_by_eur'] = df['cost_by_cents'] / 100
df.drop(columns='cost_by_cents', inplace=True)
df['cost_by_eur'] = round(df['cost_by_eur'], 2)
df

,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,pyment,distance,duration,minutes,cost_by_eur
0,1900-01-01 00:57:39.700,1900-01-01 00:12:50.200,74,Laguna St at Hayes St,37.776435,-122.426244,43,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,96,Customer,1987.0,Male,credit card,0.942931,0 days 00:44:49.500000,44.825000,1.34
1,1900-01-01 00:56:34.800,1900-01-01 00:49:55.600,284,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,96,Dolores St at 15th St,37.766210,-122.426614,88,Customer,1965.0,Female,credit card,3.069730,0 days 00:06:39.200000,6.653333,0.20
2,1900-01-01 00:45:48.400,1900-01-01 00:28:36.900,245,Downtown Berkeley BART,37.870348,-122.267764,245,Downtown Berkeley BART,37.870348,-122.267764,1094,Customer,NaN,NaN,credit card,0.000000,0 days 00:17:11.500000,17.191667,0.52
3,1900-01-01 00:31:10.600,1900-01-01 00:47:23.500,60,8th St at Ringold St,37.774520,-122.409449,5,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,2831,Customer,NaN,NaN,credit card,1.046624,0 days 00:16:12.900000,16.215000,0.49
4,1900-01-01 00:23:14.000,1900-01-01 00:29:57.600,239,Bancroft Way at Telegraph Ave,37.868813,-122.258764,247,Fulton St at Bancroft Way,37.867789,-122.265896,3167,Subscriber,1997.0,Female,app wallet,0.636340,0 days 00:06:43.600000,6.726667,0.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519695,1900-01-01 00:00:54.500,1900-01-01 00:08:10.400,81,Berry St at 4th St,37.775880,-122.393170,45,5th St at Howard St,37.781752,-122.405127,400,Subscriber,1991.0,Male,credit card,1.237187,0 days 00:07:15.900000,7.265000,0.22
519696,1900-01-01 00:56:39.600,1900-01-01 00:03:51.100,66,3rd St at Townsend St,37.778742,-122.392741,321,5th at Folsom,37.780146,-122.403071,316,Subscriber,1973.0,Male,credit card,0.921196,0 days 00:52:48.500000,52.808333,1.58
519697,1900-01-01 00:47:36.300,1900-01-01 00:54:41.200,21,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,48,2nd St at S Park St,37.782411,-122.392706,240,Subscriber,1985.0,Female,app wallet,1.072754,0 days 00:07:04.900000,7.081667,0.21
519698,1900-01-01 00:47:41.700,1900-01-01 00:53:47.700,58,Market St at 10th St,37.776619,-122.417385,59,S Van Ness Ave at Market St,37.774814,-122.418954,669,Subscriber,1981.0,Male,app wallet,0.243515,0 days 00:06:06,6.100000,0.18
519699,1900-01-01 00:49:46.400,1900-01-01 00:52:55.300,25,Howard St at 2nd St,37.787522,-122.397405,48,2nd St at S Park St,37.782411,-122.392706,117,Subscriber,1984.0,Male,app wallet,0.702460,0 days 00:03:08.900000,3.148333,0.09